<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalcClassBrTests1.Properties.Settings.testdataConnectionString"
            connectionString="Data Source=DESKTOP-LGA1DK7\SQLEXPRESS;Initial Catalog=testdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>